<suite name="tests" verbose="10" object-factory="org.powermock.modules.testng.PowerMockObjectFactory">
    <test name="tests">
      <packages>
          <package name="com.zconami.Caravans.domain"/>
          <package name="com.zconami.Caravans.listener"/>
          <package name="com.zconami.Caravans.repository"/>
          <package name="com.zconami.Caravans.util"/>
      </packages>
    </test>
</suite>